@model Book

<h1>Details</h1>

<div class="card">
    <div class="card-header">
        @Model.Title
    </div

    <div class="card-body">
        <h5 class="card-title"> @Model.Title</h5>
        @* <p class="card-text">@Model.Author</p> *@
        <hr />
        <p class="card-text"><b>Number of pages:</b> @Model.NrOfPages</p>
        <p class="card-text"><b>Published year:</b> @Model.PublishedYear</p
    </div>
    <div class="form-group text-center">
                              <img src="@Url.Content(Model.URLimg)" width="50"/>
    </div>
    <div>
         <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
    </div>
</div>